@page "/signin"
<div class="sign-form">
    <p class="welcome-text">Allam inş webassembly gelecekte işime yarar.</p>
    <input type="text" class="sign-input" placeholder="Username"/>
    <input type="password" class="sign-input" placeholder="Password"/>
    
    <button class="sign-button" type="submit">Sign in</button>
    
    <div class="signup">
        <a href="/signup">Sign up</a>
    </div>
</div>

@code {

}
